<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="services">
      <ion-icon name="list"></ion-icon>
      <ion-label>Serviços</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-schedules">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Meus Agendamentos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="square"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
