<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Criar Conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #accountForm="ngForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input type="text" [(ngModel)]="accountModel.name" name="name" #name="ngModel" required></ion-input>
    </ion-item>
    <ion-item lines="none" *ngIf="name.invalid && (name.dirty || name.touched)">
      <ion-label color="danger">
        <p *ngIf="name.errors.required">O campo é obrigatório</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input type="email" [(ngModel)]="accountModel.email" name="email" #email="ngModel" required email></ion-input>
    </ion-item>
    <ion-item lines="none" *ngIf="email.invalid && (email.dirty || email.touched)">
      <ion-label color="danger">
        <p *ngIf="email.errors.required">O campo é obrigatório</p>
        <p *ngIf="email.errors.email">E-mail inválido</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Senha</ion-label>
      <ion-input type="password" [(ngModel)]="accountModel.password" name="password" #password="ngModel" required>
      </ion-input>
    </ion-item>
    <ion-item lines="none" *ngIf="password.invalid && (password.dirty || password.touched)">
      <ion-label color="danger">
        <p *ngIf="password.errors.required">O campo é obrigatório</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Confirmar senha</ion-label>
      <ion-input type="password" [(ngModel)]="accountModel.c_password" name="c_password" #c_password="ngModel"
        ng-match="accountModel.password" required></ion-input>
    </ion-item>
    <ion-item lines="none" *ngIf="c_password.invalid && (c_password.dirty || c_password.touched)">
      <ion-label color="danger">
        <p *ngIf="c_password.errors.required">O campo é obrigatório</p>

      </ion-label>
    </ion-item>

    <div class="ion-margin-vertical">
      <ion-button color="secondary" expand="block" type="submit" [disabled]="!accountForm.form.valid">
        Criar Conta
      </ion-button>
    </div>

  </form>

</ion-content>